
html, body {
  margin: 0px;
  height: 100%;
  outline: 5px;
  background-color: white;
  
}
#header{

  width: 100%;
  height: 2.8%;
  margin-top: 0px;
  background-color: space-grey;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
  padding-top: 5px;
}

*:focus {
outline: none;

}
a{
  margin-top: 10px;
  margin-left:40px;
  text-decoration: none;
  color: black;


}

a:visited {
  color: black;
  text-decoration: none;

}

iframe {

border: 0x solid maroon;

border-radius: 100%;

}

  td:first-child {
    font-family: Arial, Georgia, Sans-serif;
  }

  h3 {
    margin: 15px;
    font-family: Arial;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.5px;
    color: black;

  }


  }

  hr {
    margin-top: 2px;
  }
  .example-1 {
    height: 100%;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 4px;

  }

  .example-2, .example-3, .example-4, .example-5 {
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 0px;
  }

img {
    height: 400px;
    width: auto;
    padding: 12px;


  }
    #two{
    background-color: black;
    height: 100%;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: georgia;
    line-height: 120%;
    font-size: 14px;
    text-align: center;

  }

  #three, #four{
    height: 100%;
    padding: 12px;
    
    font-weight: 100;
    line-height: 110%;
    font-size: 16px;
    text-align: center;
background-image: -webkit-linear-gradient(left, black 0%, #565656 40%,  #565656 60%, black 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: kaleidoscope 0s ease infinite;
}
 @-webkit-keyframes kaleidoscope {
 0% {
 background-position: 0 0;
}
 25% {
 background-position: -25em 0;
}
 50% {
 background-position: -50em 0;
}
 75% {
 background-position: -75em 0;
}
 100% {
 background-position: -99em 0;
}


  }

  #three p {

    padding: 0;
  }

  .example-4, .example-5 {
    height: 100%;
  }

  .split p {
    padding: 0px;
  }

  .split {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
  }

  .gutter {
    background-color: gray;

    background-repeat: no-repeat;
    background-position: 50%;
  }

  .split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
    text-decoration: none;
  }

